<div class="page-header">
	<h1>Accounts</h1>
</div>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Station</th>
			<th>Enabled</th>
			<th>Auth</th>
		</tr>
	</thead>
	<tbody>
<%
accounts.forEach(function (account) {
	var cls = '';
	if (account.enabled && account.authorized) {
		cls = 'success';
	} else if (!account.enabled && account.authorized) {
		cls = 'enabled';
	} else if (account.enabled && !account.authorized) {
		cls = 'danger';
	} else if (!account.enabled && !account.authorized) {
		cls = 'warning';
	}
%>
		<tr class="<%= cls %>">
			<td><%= account.id.substr(0, 8) %>...</td>
			<td><%= account.username %></td>
			<td><%= account.stationId %></td>
			<td><%= account.enabled %></td>
			<td><%= account.authorized %></td>
		</tr>
<%
});
%>
	</tbody>
</table>
